@model CoreAndFood.Data.Models.Category
@{
    ViewData["Title"] = "Category Güncelleme Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)

    @Html.LabelFor(m => m.CategoryName)
    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(m => m.CategoryDescription)
    @Html.TextBoxFor(m => m.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
}

